.cl-checkbox {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #111;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%; /* 18px */
  letter-spacing: 4.5px;
}

/* Input */
.cl-checkbox > input {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  z-index: -1;
  position: absolute;
  left: -10px;
  top: -8px;
  display: block;
  margin: 0;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  background-color: rgba(0, 0, 0, 0.6);
  box-shadow: none;
  outline: none;
  opacity: 0;
  transform: scale(1);
  pointer-events: none;
  transition: opacity 0.3s, transform 0.2s;
}

/* Span */
.cl-checkbox > span {
  display: inline-flex;
  align-items: center;
  width: 100%;
  cursor: pointer;
  color: #040404;
  font-size: 12px;
  font-style: normal;
  font-weight: 300;
  line-height: 100%; /* 12px */
  letter-spacing: 3px;
}

/* Box */
.cl-checkbox > span::before {
  content: "";
  display: inline-block;
  box-sizing: border-box;
  margin: 3px 11px 3px 1px;
  border: solid 2px;
  /* Safari */
  border: 1px solid var(--status-seleccion, #8afe2a);
  background: var(--background-principal, #fff);
  width: 32px;
  height: 32px;
  vertical-align: top;
  transition: border-color 0.2s, background-color 0.2s;
}

/* Checkmark */
.cl-checkbox > span::after {
  background: transparent;
  content: "";
  display: block;
  height: 18px;
  left: 8px;
  position: absolute;
  top: 10px;
  width: 18px;
  transition: all 0.6s cubic-bezier(0.16, 1, 0.3, 1);
}

/* Checkmark */
.cl-checkbox > input:checked + span::after {
  background: var(--status-seleccion, #8afe2a);
  content: "";
  display: block;
  height: 18px;
  left: 8px;
  position: absolute;
  top: 10px;
  width: 18px;
}

/* Checked, Indeterminate */
.cl-checkbox > input:indeterminate {
  background-color: #8afe2a;
}
