/* Estilos generales para el preloader */
.loading {
  position: relative;
}

.loading:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.8); /* Fondo semi-transparente */
  z-index: 9999; /* Capa superior */
}

/* Estilos para el spinner del preloader */
.loading:before {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 4px solid #f3f3f3; /* Color del spinner */
  border-top: 4px solid #ae78c5; /* Color del spinner en la parte superior */
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 2s linear infinite; /* Animación de rotación */
}

/* Animación de rotación del spinner */
@keyframes spin {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}
